.Title {
    color: #737373;
    text-align: center; /* Horizontally center the text */
    display: flex;
    justify-content: center; /* Horizontally center the flex items (the text in this case) */
    align-items: center;  
    margin-left: 500px ;
  }
