@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg, 
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
} 

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 60px;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #dde0e0  91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: #808080;

}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
.img-luxurious {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
  height: 100%;
  width: 650px; 
  display: block;
  margin: 0 auto; 
  transform: translateX(-10px); 
} 

.img-luxurious:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
/* new css for navbar  */ 
.navbar-fixed {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 999; 
  margin-left: 0px; 
} 
.nav {
  background-color: fffbff ; 
  display: flex; 
}
.logo-nav {
  margin-left: 0px;
  margin-right: 300px;
  width: 150px; 
}  
/* Css for partenaires and clients logo to delete the white background and adjust them  */ 
.img {
  width: 15%; 
  aspect-ratio: 4/3;  
  object-fit: contain; 
  mix-blend-mode: color-burn; 

}
/* Css for The Title of Partenaires and Clients Here */
.Titre {
  transform: translate(35%, -50%) ; 
  color: #727373  ;
  margin-right: 550px;
  margin-top: 80px;

}
.Titre1 { 
  transform: translate(25%, -50%) ;  
  color: #727373  ;
  margin-right: 450px;
  margin-top: 80px;
 
} 
.Titre2 {
  transform: translate(35%, -50%) ; 
  color: #727373  ;
  display: flex; 
  align-items: center; 
  margin-top: 100px;
}
@media screen and (min-width: 768px) { 
  .Titre1 {
    font-size: 36px; 
  }
}
@media screen and (min-width: 1024px) { 
  .Titre1  {
    font-size: 48px; 
  } 
} 

/* css for the app.jsx  */ 
.router {
overflow-x: hidden;
} 
/* css for 3images in hero  */
.hero1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 100px;
}  
/* stats new css  */
.stat-val { 
  color: #1CA9B1 ;
} 
.stat-title {
  color: #727373 ;
}
/* CSS FOR ALL TITLES  */ 
.H1 {
  color: #727373 ;  
  padding-top: 100px; 
}   
.Learning  {
  color: #727373 ;  
  padding-top: 200px; 
} 
.Leading {
  color: #727373 ;  
}
.PurposeT {
  color: #727373 ;   
}
.AboutT {
  color: #727373 ;   
  padding-right: 280px;
} 
.H2 {
  color:#1CA9B1  ; 
}  
.H3 {
  color:#1CA9B1  ; 
  padding-right: 350px;
}

/* CTA NEW CSS  */ 
/* .box {
  color:#727373 ;
  background-color: #727373; 
} */
/* CSS TO MAKE THE PARGRAPHS MOVE  */
.animated-paragraph {
  opacity: 0;
  animation: moveWordByWord 1s forwards;
}

@keyframes moveWordByWord {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* CSS FOR THE FOOTER  */ 
.social { 
  width: 200px; 
  /* color: #1CA9B1;  */
  display: flex;
  color: black;
} 
.img-social {
  color: #33bbcf;
}
.footer {
  background-color: whitesmoke; 
  border-radius: 100px;
} 
/* CSS FOR HERO SECTION  */
.HERO1 {
  background-image: url("./assets/pics/HERO1.png"); 
  display: flex;
  background-size: cover; 
  background-position: center center;
  height: 800px; 
}
/* css for card  */ 
.card {
  display: flex ; 
  flex-direction: column;
  align-items: center; 
  padding-top: 80px; 
}  
